.starwars{
    height: 60px;
}

.fondo {
    background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fstarwarsblog.starwars.com%2Fwp-content%2Fuploads%2F2020%2F04%2Fstar-wars-backgrounds-25.jpg");
}

h1{

    color: white;
}

.navbar {
    background-color:yrgb(255, 255, 0) !important 
}

.dropdown {
    float: left;
}

a {
    color: #ffff03;
    text-decoration: none;
    background-color: transparent;
    margin: 1px;
}

